body {
  font-family: Consolas;
}

p {
align: left;
font-size: 0.875em;
}
.about-heading {
font-family:
font-size: all-caps ;
margin-top: 
color:#ffffff;
}


.timeline-events {
width: 100px;
    height: 200px;
    border: 1px solid blue;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
}

    

.container {
  margin-top: 60px;
}

.container-navbar {
  box-shadow: 0px 4px 10px #ECECEC;
  color: #4B90E0;
}

a:hover {
  color: #000;
}

#footer {
  background: #4B90E0;
}

#footer div {
  display: inline-block;
  text-transform: uppercase;
}

#footer ul {
  list-style-type: none;
  margin-top: 10px;
}

#footer .footer-nav {
  position: relative, left:0;
}

#footer .footer-nav li {
  margin-top: 8px;
}

#footer .footer-nav a {
  color: #f8f8ff;
}

#footer .share {
  position: absolute;
  right: 0px;
  text-align: center;
}

.share-icons li {
  display: inline;
}

.main-img{
    height: 500px;
    width: 100%;
    background-color: lightblue;
}