/*
*  ============================================================================
*
*  HTML Selectors
*
*  ============================================================================
*/
body {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
}

li {
  text-align: left;
}

/*
*  ============================================================================
*
*  Cross-Page Elements
*
*  ============================================================================
*/

.timeline-events {
  border: 2px solid #4B90E0;
  box-sizing: border-box;
  /* top | right | bottom | left */
  padding-top: 10px;
  margin-bottom: 10px;
}

.container {
  /*min-height: 1024px;*/
  margin: 0px 60px 60px 60px;
}

.content {
  width: 401px;
}

.content h4 {
  font-size: 16px;
}

/*
*  ============================================================================
*
*  Navigation Bar
*
*  ============================================================================
*/

.navbar {
  height: 60px;
  margin-bottom: 0px;
}

.container-navbar {
  box-shadow: 0px 4px 10px #ECECEC;
  color: #4B90E0;
}

.navbar-brand img {
  margin-top: -10px;
}

.main-img {
    height: 427px;
    width: 100%;
    background-size: cover;
}

.heading {
  margin-bottom: 20px;
}

.heading-text {
  background: rgba(74, 144, 226, 0.5);
  position: relative;
  bottom: 75px;
  margin-bottom: -35px;
  width: 100%;
  height: 55px;
}

.heading-text h1 {
  color: rgba(255, 255, 255, 1);
  padding-top: 10px;
  padding-left: 90px;
  font-size: 30px;
}

/*
* =============================================================================
* Search Bar
* =============================================================================
*/



.partner {
  margin-bottom: 30px;
  word-wrap: break-word;
}

.button-wrap {
  width: 50%;
  margin: 0 auto;
}

.button-link {
  width: 99px;
  height: 38px;
  padding-top: 8px;
  border: none;
  border-radius: 11px;
  background-color: #4a90e2;
  color: white;
}

.prevention .content {
  margin-bottom: 30px;
}

.more-services {
  margin-bottom: 20px;
}

.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

/*
* ============================================================================
* Header images
* ============================================================================
*/

#about-header-image {
  background-image: url(../img/AboutUs.jpg);
}

#support-header-image {
  background-position: 50% 50%;
  background-image: url(../img/CommunitySupport.jpg);
}

#testing-header-image {
  background-image: url(../img/Testing.jpg);
  opacity: 0.90;
}

#hivinformation-header-image {
  background-image: url(../img/HIVinformation.jpg);
  background-position: 25% 45%;
}

#prevention-header-image {
  /*get image*/
}

#videos-header-image {
  background-image: url(../img/Videos.jpg);
  background-position: 50% 50%;
}

#partners-header-image {
  background-image: url(../img/Partners.jpg);
  opacity: 0.75;
}

#advocacy-header-image {
  background-image: url(../img/Advocacy.jpg);
}

#volunteer-header-image {
  background-image: url(../img/Volunteering.jpg);
  background-position: 50% 60%;
}

#classes-header-image {
  background-image: url(../img/classes.jpg);
  background-position: 50% 50%;
}

/*
*  ============================================================================
*
*  Information/Prevention
*  Brochures
*
*  ============================================================================
*/

.brochure {
  width: 49%;
  height: auto;
  display: inline-block;
  margin-bottom: 20px;
}

.brochure img {
  width: 33%;
  height: auto;
  float: left;
}

.brochure h4, .brochure p {
  word-wrap: break-word;
}

/*
*  ============================================================================
*
*  Footer
*
*  ============================================================================
*/

#footer {
  height: 40px;
  background: #4B90E0;
  color: #fff;
}

#footer div {
  display: inline-block;
}

#footer .footer-nav {
  position: relative;
  left: 0px;
  text-transform: uppercase;
  padding-top: 10px;
}

#footer .footer-nav li {
  display: inline;
  margin-right: 45px;
}

#footer .footer-nav a {
  /* possibly change color */
  color: #f8f8ff;
}

#footer .share {
  width: 70%;
  position: absolute;
  right: 0px;
  text-align: right;
  overflow: auto;
  margin-right: 25px;
}

.share p {
  padding-top: 5px;
  margin-top: -19px;
  font-size: 10px;
}

.share-icons li {
  display: inline;
  font-size: 11px;
}
