/*
*  ============================================================================
*
*  HTML Selectors
*
*  ============================================================================
*/
body {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
}

li {
  text-align: left;
}

/*
*  ============================================================================
*
*  Cross-Page Elements
*
*  ============================================================================
*/

.timeline-events {
  border: 2px solid #4B90E0;
  box-sizing: border-box;
  /* top | right | bottom | left */
  padding-top: 10px;
  margin-bottom: 10px;
}

.container {
  margin: 60px 60px 60px 60px;
}

.container-navbar {
  box-shadow: 0px 4px 10px #ECECEC;
  color: #4B90E0;
}

/*bootstrap override*/
.navbar {
  margin-bottom: 0px;
}

.heading {
  background-color: #A4C7F0;
}

.main-img {
    height: 300px;
    width: 100%;
}

.heading-text {
  bottom: 0;
  left: 0;
}

.partner {
  margin-bottom: 30px;
}

.prevention .content {
  margin-bottom: 30px;
}

.more-services {
  margin-bottom: 20px;
}

.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

/*
*  ============================================================================
*
*  Information/Prevention
*  Brochures
*
*  ============================================================================
*/

.brochure {
  width: 49%;
  height: auto;
  display: inline-block;
  margin-bottom: 20px;
}

.brochure img {
  width: 33%;
  height: auto;
  float: left;
}

.brochure h4, .brochure p {
  word-wrap: break-word;
}

/*
*  ============================================================================
*
*  Footer
*
*  ============================================================================
*/

#footer {
  background: #4B90E0;
  color: #fff;
  padding-bottom: 30px;
}

#footer div {
  display: inline-block;
}

#footer .footer-nav, #footer ul {
  list-style-type: none;
  margin-top: 10px;
  position: relative;
  left:0px;
  text-transform: uppercase;
}

#footer .footer-nav li {
  margin-top: 8px;
}

#footer .footer-nav a {
  /* possibly change color */
  color: #f8f8ff;
}

#footer .share {
  margin-top: 8px;
  width: 70%;
  position: absolute;
  right: 0px;
  text-align: right;
  overflow:auto;
  padding: 10px 20px 0 0;
}

/*
*  ============================================================================
*
*  Share icons
*
*  ============================================================================
*/

.share-icons li {
  display: inline;
}
