{% extends "base.html" %}

{% block head %}

	{% block title %}{{ super() }} | {{title}}{% endblock %}

	{% block head_css %}
		{{super()}}
	{% endblock %}

	{% block head_js %}
		{{super()}}
	{% endblock %}

	{% block script %}
	{% endblock %}

{% endblock %}

{% block content %}
	<!-- super function renders HTML from base.html
		 that is within the content block. -->
	{% block header %}
	 		<!-- Navigation -->
	 		{{ super() }}
	 		<!-- end navigation -->
	{% endblock %}

	<!-- body html here -->
	<div class="heading">
		<div class="main-img" id="classes-header-image"></div>
		<div class="heading-text">
			<h1>Classes</h1>
		</div>
	</div>

	<div class="container">
		<div class="content col-md-6">
			<p>Click below for</p>
			<p>HIV testing sites in San Francisco STD Screening at CCSF Lab Services available ata CCSF STI testing at City College</p>
			<p>Screening services for Sexually Transmitted Infections (STI) are available at the Student Health Center at a reduced rate or at no cost if a student qualifies for <a href="#">Family Pact Program</a> and meets the criteria for screening.</p>
		</div>

		<div class="timeline-events col-md-4">
			<ul>Timeline Events
				<li><a href="#">Testing</a></li>
				<li><a href="#">Screening</a></li>
				<li><a href="#">Research</a></li>
			</ul>
		</div>

		<div class="more-services col-md-2">
			<ul>More Services
				<li><a href="#">Community Support</a></li>
			</ul>
		</div>
	</div>
	<!-- end body html -->
	{% block footer %}
		{{ super() }}
	{% endblock %}

{% endblock %}

{% block footer_js %}
	{{super()}}
{% endblock %}
