{% extends "base.html" %}

{% block head %}

	{% block title %}{{ super() }} | {{ title }}{% endblock %}

	{% block head_css %}
		{{super()}}
		<link rel="stylesheet" type="text/css" href="/static/css/lib/timeline.css">
	{% endblock %}

	{% block head_js %}
		{{super()}}
		<script type="text/javascript" src="/static/js/lib/Display.js"></script>
		<script type="text/javascript" src="/static/js/lib/EventArray.js"></script>
		<script type="text/javascript" src="/static/js/lib/Event.js"></script>
		<script type="text/javascript" src="/static/js/lib/Events.js"></script>
		<script type="text/javascript" src="/static/js/lib/Timeline.js"></script>
	{% endblock %}

	{% block script %}
		<script type="text/javascript">

			var timelineArray = [];

			{% for event in timelineJSON %}
				timelineArray.push({{ event|safe }});
				{% endfor %}

		</script>
	{% endblock %}

{% endblock %}

{% block content %}
	{% block header %}
		<!-- Navigation -->
		{{ super() }}
		<!-- End Navigation -->
	{% endblock %}

		<!-- Timeline elements -->
		<div id="hiv-timeline-container">
			<div id="event-viewer-container"></div>
			<div id="timeline-container"></div>
		</div>
		<!-- end timeline elements -->

	{% block footer %}
		{{ super() }}
	{% endblock %}


{% endblock %}

{% block footer_js %}
{{super()}}
<script type="text/javascript" src="/static/js/init_timeline.js"></script>
{% endblock %}
