{% extends "base.html" %}

{% block head %}

	{% block title %}{{ super() }} | {{title}}{% endblock %}

	{% block head_css %}
		{{super()}}
	{% endblock %}

	{% block head_js %}
		{{super()}}
	{% endblock %}

	{% block script %}
	{% endblock %}

{% endblock %}

{% block content %}
	<!-- super function renders HTML from base.html
		 that is within the content block. -->
	{% block header %}
	 		<!-- Navigation -->
	 		{{ super() }}
	 		<!-- end navigation -->
	{% endblock %}

	<!-- body html here -->
	<div class="heading">
		<div class="main-img" id="support-header-image">
		</div>
		<div class="heading-text">
			<h1>Community Support</h1>
		</div>
	</div>

	<div class="container">
		<div class="content col-md-6">
			<section class="partner">
				<h4>San Francisco Aids Foundation</h4>
				<p>Offers several activities every week. This includes free testing, support groups, counseling, sterile syringes and more.</p>
				<div class="button-wrap">
					<a href="http://www.sfaf.org/" class="btn btn-default button-link">Visit Site</a>
				</div>
			</section>

			<section class="partner">
				<h4>Shanti PROJECT</h4>
				<p>Provides counseling to educate about HIV disease, how to navigate the healthcare system and they provide emotional support with drop-in couselling.</p>
				<div class="button-wrap">
					<a href="http://www.shanti.org/" class="btn btn-default button-link">Visit Site</a>
				</div>
			</section>

			<section class="partner">
				<h4>Bay Positives</h4>
				<p>Provides services to help young people (ages 26 and younger) with a weekly drop-in support group and social events. They also provide personal one-on-one help on a case by case basis and more.</p>
				<div class="button-wrap">
					<a href="http://www.baypositives.org/" class="btn btn-default button-link">Visit Site</a>
				</div>
			</section>

			<section class="partner">
				<h4>AIDS Walk San Francisco</h4>
				<p>is a yearly fundraiser event. Since 1987, AIDS Walk San Francisco has raised $86 million for HIV programs and services in the Bay Area and has grown into the largest AIDS fundraising even in Northern California.</p>
				<div class="button-wrap">
					<a href="https://sf.aidswalk.net/" class="btn btn-default button-link">Visit Site</a>
				</div>
			</section>

			<section class="partner">
				<h4>Larkin St. Youth Services</h4>
				<p></p>
				<div class="button-wrap">
					<a href="http://larkinstreetyouth.org/" class="btn btn-default button-link">Visit Site</a>
				</div>
			</section>

			<section class="partner">
				<h4>Positive Resource Center</h4>
				<p></p>
				<div class="button-wrap">
					<a href="http://www.positiveresource.org/" class="btn btn-default button-link">Visit Site</a>
				</div>
			</section>

			<section class="partner">
				<h4>UCSF Center for Excellence in Transgender Health</h4>
				<p></p>
				<div class="button-wrap">
					<a href="http://transhealth.ucsf.edu/" class="btn btn-default button-link">Visit Site</a>
				</div>
			</section>

			<section class="partner">
				<h4>SF Office of Workforce Development</h4>
				<p></p>
				<div class="button-wrap">
					<a href="http://oewd.org/" class="btn btn-default button-link">Visit Site</a>
				</div>
			</section>
		</div>

		<div class="col-md-4">
			<ul class="timeline-events">Timeline Events
				<li><a href="#">Community</a></li>
				<li><a href="#">Group</a></li>
				<li><a href="#">Healthcare</a></li>
				<li><a href="#">Fundraiser</a></li>
				<li><a href="#">California</a></li>
			</ul>
		</div>

		<div class="more-services col-md-2">
			<ul>More Services
				<li><a href="#">Testing</a></li>
			</ul>
		</div>
	</div>
	<!-- end body html -->
	{% block footer %}
		{{ super() }}
	{% endblock %}

{% endblock %}

{% block footer_js %}
	{{super()}}
{% endblock %}
